body {
	margin: 0;

	display: flex;
	flex-direction: column;

	font-family: "Roboto";
	font-size: 18px;
	color: #1f2938;
}

.header-container,
.footer-container,
.action-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 16px 128px;

	background-color: #1f2938;
	color: #f9faf8;
}

.header,
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}

.logo {
	font-size: 24px;
	font-weight: 900;

	color: #f9faf8;
}

ul,
li,
a {
	display: flex;
	gap: 16px;

	list-style-type: none;
	text-decoration: none;

	padding: 0;

	color: #e5e7eb;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 128px 0;
	width: 100%;
}

.hero {
	justify-content: space-around;

	color: #f9faf8;
}

.hero-left {
	width: 450px;
}

.hero-title {
	font-size: 48px;
	font-weight: 900;

	color: #f9faf8;
}

.hero-text {
	color: #e5e7eb;
}

button {
	border: 0;
	border-radius: 5px;

	padding: 8px 32px;

	font-weight: 900;
	color: #f9faf8;
	background-color: #3882f6;

	cursor: pointer;
}

.hero-right {
	padding: 128px;

	background-color: grey;
}

.information-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 48px 128px;
}

.information-header {
	text-align: center;

	font-size: 36px;
	font-weight: 900;
}

.information {
	gap: 64px;

	padding: 32px 0;
}

.card {
	display: flex;
	flex-direction: column;

	width: 180px;
}

.card-top {
	height: 170px;
	width: 170px;

	border: 3px solid #3882f6;
	border-radius: 10px;
}

.card-bottom {
	padding: 5px;
	margin: 0;

	text-align: center;
}

.quote-container {
	display: flex;
	justify-content: center;

	background-color: #e5e7eb;
}

.quote {
	flex-direction: column;

	padding: 128px 256px;
}

.quote-text {
	margin: 0;

	width: 1024px;

	font-size: 36px;
	font-weight: 300;
}

.quote-author {
	align-self: flex-end;

	font-weight: 900;
}

.action-container {
	padding: 129px;

	background-color: #f9faf8;
}

.action {
	justify-content: space-between;

	padding: 64px;
	width: 1024px;

	border-radius: 7px;
	background-color: #3882f6;
}

.action-title {
	font-size: 24px;
	font-weight: 900;
}

.action-text {
	margin: 0;
}

.action-button {
	border: 2px solid #f9faf8;

	background-color: #3882f6;
}

.footer-container {
	padding: 32px;
}

.footer {
	justify-content: center;
}
